$light-gray: #a6a8ab;
$medium-gray: #cacaca;
$dark-gray: #6d6e70;
$feather: #acbcc6;
$navy: #102247;
$midnight-blue: #2d3d4b;
$blue: #1b75bb;
$coral-blue: #43b2c4;
$burgundy: #9d002d;
$red: #be1e2d;
$orange: #e35145;
$lime: #d3ddba;
$forest: #004d34;
$yellow: #ffdd17;

// search form in header
.search-form {
	width: 100%;
	&__input {
		width: calc(80%);
		border: 2px solid transparent;
	}
	&__button {
		width: calc(20%);
		background-color: $navy;
		&:hover,
		&:focus {
			background-color: $black;
		}
	}
	&--sidebar,
	&--tablet {
		padding: 0.5rem;
		margin: 0 auto 0.5rem;
		background-color: #f1f1f2;
	}
	&--tablet {
		@media screen and (min-width: 876px) {
			display: none;
		}
		@media screen and (max-width: 550px) {
			display: none;
		}
	}
	.header__bottom-row & {
		padding: 0.5rem;
		background-color: $lime;
	}
}

// filter search results form
.sort-search {
	border-bottom: 2px solid $light-gray;
}

// filter search results form
.sort-search input[type="radio"] {
  &:checked + .sort-search__switch {
    background-color: $forest;
  }
}

// sidebar
.poll {
	background-color: #f1f1f2;
	&__heading {
		border-bottom: 1px solid $black;
	}
	&__submit {
		background-color: $navy;
		color: $white;
	}
	progress {
		border: 1px solid $orange;
		background-color: $orange;
	}
	::-moz-progress-bar {
		background-color: $orange;
	}
	::-webkit-progress-bar {
		background-color: $orange;
	}
	::-webkit-progress-value {
		background-color: $orange;
	}
	.layout__sidebar>&__results,
	.layout__sidebar>&__submit {
		width: auto;
		padding: 0.85rem;
		margin: 0 5px;
		font-size: 0.75rem;
		font-weight: 400;
	}
	.layout--index--mobile__poll & {
		@media screen and (min-width: 876px) {
			display: none;
		}
	}
}

.spotlight {
	background-color: $feather;
	&__heading {
		border-bottom: 1px solid $white;
	}
	&--top {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 0;
		@media screen and (max-width: 800px) {
			display: none;
		}
	}
	&--index--mobile {
		@media screen and (min-width: 801px) {
			display: none;
		}
	}
	&__img {
		// this only applies to the home page
		width: 50%;
		width: calc(50% - 0.5rem);
		align-self: center;
	}
	&__text {
		// this only applies to the home page
		width: 50%;
		width: calc(50% - 0.5rem);
	}
}

.article {
	&__keyword,
	&__section-title {
		color: $forest;
	}
	&__keyword {
		margin: 7px 0;
	}
	&__title {
		color: $black;
	}
	&__teaser {
		color: $navy;
	}
	&__caption {
		padding: 4px 8px 8px;
		border-bottom: 1px solid scale-color($color: $dark-gray, $lightness: 50%);
		color: $dark-gray;
	}
	&__description {
		color: $navy;
		b {
			color: $burgundy;
			text-decoration: underline;
		}
	}
	&__p a {
		color: $blue;
		text-decoration: underline;
		text-underline-offset: 0.3em;
		text-underline-position: under;
	}
	&__related-heading {
		background-color: #f9f5cd;
		color: $navy;
		font-weight: bold;
	}
	&--lead-story {
		width: 60%;
		width: calc(60% - 0.5rem);
		background-color: #f9f5cd;
		@media screen and (min-width: 801px) {
			margin-bottom: 0;
		}
		@media screen and (min-width: 876px) and (max-width: 1000px) {
			width: 50%;
			width: calc(50% - 0.5rem);
		}
		@media screen and (max-width: 875px) {
			width: 100%;
		}
		.article__keyword {
			margin-top: 0;
		}
	}
	&--listing {
		border-bottom: 1px solid $dark-gray;
		&:last-of-type {
			border-bottom: none;
		}
	}
	.layout--index__features &--block {
		width: 33.333%;
		width: calc(33.333% - 0.25rem);
		@media screen and (min-width: 515px) and (max-width: 757px) {
			width: 50%;
			width: calc(50% - 0.5rem);
			&:last-of-type {
				display: none;
			}
		}
		@media screen and (max-width: 514px) {
			width: 100%;
			padding-bottom: 0.5rem;
			border-bottom: 1px solid $dark-gray;
			&:last-of-type {
				border-bottom: none;
			}
		}
	}
}

// // Page headings
.page-title {
	&--static,
	&--search {
		color: $black;
	}
	&--search__term {
		color: $burgundy;
	}
	&--static,
	&--search,
	&--search__term {
		font-weight: bold;
	}
	&--keyword {
		border-bottom: 1px solid $dark-gray;
		color: $forest;
	}
}

.comment-section {
	&__comment {
		border-bottom: 1px dashed $burgundy
	}
	&__date {
		color: $dark-gray;
	}
	&__comment--removed {
		background-color: $dark-gray;
		color: $burgundy
	}
	&__reply-button {
		background-color: $blue;
		border-radius: 5px;
		color: $white;
		&:hover,
		&:focus {
			background-color: $black;
		}
	}
}

.footer {
	&__menu {
		background-color: $lime;
	}
	&__list-item:hover,
	&__list-item:focus {
		background-color: $feather;
	}
	&__link {
		color: $forest;
		font-weight: 500;
		text-decoration: none;
		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}

.slideshow__button {
	background-color: $light-gray;
	&:hover,
	&:focus {
		color: $yellow;
	}
}

.user-form {
	&--comment {
		border: 1px solid $navy;
	}
	&--feedback {
		background-color: #f1f1f2;
		border-radius: 0.5rem;
	}
	&__label {
		display: inline-flex;
		&[for="comment_body"] {
			display: block;
			margin-top: 1rem;
		}
		&[for="comment_captcha"] {
			@media screen and (max-width: 550px) {
				margin-top: 0.5rem;
			}
		}
		&--comment {
			color: $black;
		}
		&--feedback {
			color: $black;
		}
		&--denotes {
			display: inline-flex;
			color: $burgundy;
		}
		&--support {
			display: inline-flex;
			color: $blue;
			font-size: 14px;
			html[dir="ltr"] & {
				margin-left: 0.5rem;
			}
			html[dir="rtl"] & {
				margin-right: 0.5rem;
			}
		}
	}
	&__button {
		&--comment {
			background-color: $navy;
			color: $white;
			&:hover,
			&:focus {
				background-color: lighten($navy, 20%);
			}
		}
		&--feedback {
			background-color: #4899c3;
			color: $black;
			&:hover,
			&:focus {
				background-color: darken(#4899c3, 20%);
			}
		}
	}
	&__heading--comment {
		background-color: $navy;
		color: $white;
	}
}

.rating {
	@media screen and (max-width: 319px) {
		display: none;
	}
	&__question {
		color: $navy;
		font-weight: bold;
		@media screen and (max-width: 319px) {
			display: none;
		}
	}
	&__meter--progress {
		background-color: $forest;
	}
	&__button {
		color: $white;
		&--like {
			background-color: $forest;
		}
		&--dislike {
			background-color: $burgundy;
		}
	}
}

.golden-question {
	&__button {
		color: $white;
		&--dislike {
			background-color: $burgundy;
		}
		&--like {
			background-color: $forest;
		}
	}
}

.latest-news {
	&__heading {
		padding: 0 0 0.5rem;
		border-top: 0.5rem solid $coral-blue;
		color: $black;
	}
	&__title {
		border-bottom: 1px solid $coral-blue;
		color: $black;
		&:before {
			color: $coral-blue;
			content: ":: ";
		}
	}
	.layout__sidebar--archives & {
		display: none;
	}
}

.archive-selector__button {
	background-color: $burgundy;
	color: $white;
	&:hover,
	&:focus {
		background-color: darken($burgundy, 20%);
	}
}

.header {
	&__bottom-row {
		background-color: $lime;
		.header--mobile & {
			padding: 0;
			background-color: $white;
		}
	}
	&__navigation-link,
	&__locale-link {
		color: $forest;
		&--selected {
			color: $burgundy;
			text-decoration: underline;
		}
	}
	&__navigation-link {
		text-transform: uppercase;
	}
	&__locale-link {
		&:first-of-type::after {
			color: $dark-gray;
			content: " | ";
		}
		&:nth-child(2)::after {
			color: $dark-gray;
			content: " | ";
		}
		&--selected {
			color: $burgundy;
			text-decoration: underline;
		}
	}
}

.social-channels {
	&__heading {
		color: $yellow;
	}
	&__icon-menu {
		float: right;
	}
	&--mobile {
		background-color: #175552;
		.social-channels__heading {
			color: $yellow;
			font-weight: bold;
			@media screen and (max-width: 500px) {
				width: 100%;
			}
		}
		.social-channels__icon-menu {
			@media screen and (max-width: 500px) {
				width: 100%;
			}
		}
	}
}

.newsletter {
	&__label {
		color: $black;
	}
	&__response {
		color: $black;
		font-size: 12px;
	}
	&--top__button {
		background-color: $forest;
		color: $white;
		font-size: 12px;
		font-weight: 400;
		&:hover,
		&:focus {
			background-color: darken($color: $forest, $amount: 20%);
		}
	}
	&--mobile {
		margin-top: 1rem;
		&__label {
			color: $white;
		}
		&__button {
			background-color: $midnight-blue;
			color: $white;
			&:hover,
			&:focus {
				background-color: darken($color: $midnight-blue, $amount: 20%);
			}
		}
		.newsletter__response {
			color: $white;
			font-size: 14px;
			font-weight: bold;
		}
	}
}

.layout--index {
	&__top-row {
		@extend %flex-row-no-wrap;
		@extend %space-between;
		margin-bottom: 0.5rem;
		@media screen and (max-width: 500px) {
			flex-direction: column;
		}
	}
	&__right {
		width: 40%;
		width: calc(40% - 0.5rem);
		@media screen and (min-width: 876px) and (max-width: 1000px) {
			width: 50%;
			width: calc(50% - 0.5rem);
		}
		@media screen and (max-width: 875px) {
			display: none;
		}
	}
	&__features {
		@extend %flex-row-wrap;
		@extend %space-between;
	}
}


// Allow for media to span 100% of the screen
@media screen and (max-width: 700px){
	.page-title--keyword, .page-title--static{
		margin: 0 8px;
	}
	.article--show{
		padding: 8px 0 0;
		.article__p, .article__section-title, .ratings, 
		.related-articles-section, .comment-section__comment,
		.user-form__heading--comment{
			padding-right: 8px;
			padding-left: 8px;
		}
		.user-form, .article__title--no-hover{
			margin: 0 8px;
		}
		.article__source-row, .user-form__heading--comment, .page-title{
			margin: 8px;
		}
		.slideshow--article .slideshow__slide{
			padding: 0;
		}
	}
	html[dir="rtl"] .article__keyword--current{
		margin-right: 8px;
	}
	html[dir="ltr"] .article__keyword--current{
		margin-left: 8px;
	}
}
	
@media screen and (max-width: 500px) {
	.article--block{
		margin: 0 8px 8px;
		&:first-of-type{
			margin-top: 8px;
		}
	}
}